@import url('https://fonts.google.com/earlyaccess');


.searchForm{
    display: table;
    position: absolute;
    align-items: center;
    top: 200px;
    width : 300px;
    height: 18px;

}

.searchBox{
    width : 300px;
}


body{
    background-color: #F8F8F8;
}

h1{
    padding-top: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    text-align: center;
}
